<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.movies.movierow">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/movierow"
        android:label="@string/app_name"
        android:roundIcon="@drawable/movierow"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieRow"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.Explore"></activity>
        <activity android:name=".Activities.Trending" />
        <activity android:name=".Activities.ForgotPassword" />
        <activity android:name=".Activities.VerifyOtp" />
        <activity
            android:name=".Activities.YtubePlayer"
            android:exported="true" />
        <activity android:name=".Activities.NoInternet" />
        <activity android:name=".Activities.SignupActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.Profile" />
        <activity android:name=".Activities.SearchMovie" />
        <activity android:name=".Activities.AboutMovie" />
        <activity android:name=".Activities.Home" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>